# Cache and logs (Symfony2)
/site/app/cache/*
/site/app/logs/*
!site/app/cache/.gitkeep
!site/app/logs/.gitkeep

# Email spool folder
/site/app/spool/*

# Cache, session files and logs (Symfony3)
/site/var/cache/*
/site/var/logs/*
/site/var/sessions/*
!sitevar/cache/.gitkeep
!sitevar/logs/.gitkeep
!sitevar/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!sitevar/log/.gitkeep

# Parameters
/site/app/config/parameters.yml
/site/app/config/parameters.ini

# Managed by Composer
/site/app/bootstrap.php.cache
/site/var/bootstrap.php.cache
/site/bin/*
!sitebin/console
!sitebin/symfony_requirements
/site/vendor/

# Assets and user uploads
/site/web/bundles/
/site/web/uploads/

# PHPUnit
/site/app/phpunit.xml
/site/phpunit.xml

# Build data
/site/build/

# Composer PHAR
/site/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/site/.web-server-pid

/*/.idea
*.idea

###> symfony/framework-bundle ###
/site/.env.local
/site/.env.local.php
/site/.env.*.local
/site/config/secrets/prod/prod.decrypt.private.php
/site/public/bundles/
/site/var/
/site/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/site/.phpunit
/site/.phpunit.result.cache
/site/phpunit.xml
###< symfony/phpunit-bridge ###
