<a href="{{ path('sorties_detail', {id: sortie.id}) }}" class="card-link">Afficher</a>

{% if  sortie.etat.id == 2 and inscrit %}
    <a href="{{ path('sorties_desinscription', {id: sortie.id}) }}" class="card-link">Se désister</a>
{% elseif sortie.etat.id == 2 and inscrit == false %}
    <a href="{{ path('sorties_inscription', {id: sortie.id}) }}" class="card-link">S'inscrire</a>
{% endif %}