{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <section>
        <h1>Liste des sorties</h1>

        <form>
            <div class="row">

                <div class="col-6">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Filtrer par Campus</option>
                        <option value="1">Campus 1</option>
                        <option value="2">Campus 2</option>
                        <option value="3">Campus 3</option>
                    </select>

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Mot clé</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div><!-- End .col-6 -->

                <div class="col-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="sortiesOrganisees">
                        <label class="form-check-label" for="sortiesOrganisees">Sorties que j'organise</label>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="sortiesInscrites">
                        <label class="form-check-label" for="sortiesInscrites">Sorties auxquelles je suis inscrit.e</label>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="sortiesNonInscrites">
                        <label class="form-check-label" for="sortiesNonInscrites">Sorties auxquelles je ne suis pas inscrit.e</label>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="sortiesPassees">
                        <label class="form-check-label" for="sortiesPassees">Sorties passées</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div><!-- End .col-6 -->

            </div><!-- End .row -->
        </form>

        {% for sortie in sorties %}
        <article>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                </div><!-- End .card-body -->
            </div><!-- End .card -->
        </article>
        {% else %}
        <div>
            Aucune sortie prévue.
        </div>
        {% endfor %}

        <div class="row">
            <button class="btn btn-outline-warning">Créer une sortie</button>
        </div>
    </section>
{% endblock %}
