{% extends 'base.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}

        {% form_theme formulaire 'bootstrap_4_layout.html.twig' %}

        {{ form_start(formulaire) }}

        {{ form_row(formulaire) }}

        <button type="submit" class="btn btn-primary" name="submit_type" value="0">Enregistrer</button>
        <button type="submit" class="btn btn-success" name="submit_type" value="1">Publier la sortie</button>
        <a href="{{ path('main_home') }}"><button type="button" class="btn btn-secondary">Annuler</button></a>
        {{ form_end(formulaire) }}

{% endblock %}

{%  block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script>

                var lieu = $("#sortie_lieu");
                var ville = $("#sortie_ville");

               function dynChangeLieuInfo (){

                   var lieu_Id = lieu.val();
                        $.ajax({
                                type: 'GET',
                                url:    '/sortie/get/lieu/info',
                                data: {id: lieu_Id},
                                success: function (data){
                                    if(data !== "") {
                                        console.log(data);
                                        $("#sortie_latitude").val(data["latitude"]);
                                        $("#sortie_longitude").val(data["longitude"]);
                                        $("#sortie_cp").val(data["cp"]);
                                        $("#sortie_rue").val(data["rue"]);
                                    }else{
                                        console.log("data est vide")
                                    }
                                }
                        })
                };

               function dynChangeLieu () {

                   var ville_Id = ville.val();
                   $.ajax({
                       type: 'GET',
                       url:    '/sortie/get/lieu',
                       data: {id: ville_Id},
                       success: function (data){
                           if(data !== "") {
                               console.log(data);
                               lieu.html(data);
                           }else{
                               console.log("data est vide")
                           }
                       }
                   })
               }

                $(document).ready(function(){
                        dynChangeLieuInfo();
                        lieu.change(function(e){
                                dynChangeLieuInfo();
                        });
                        ville.change(function(e){
                            dynChangeLieu();
                        });
                });
        </script>
{% endblock %}